body{
  min-width: 960px;
  margin: auto 0;
  font-family: Roboto, sans-serif;
  color: #000000;
}

/*  Column margins */
.col_12, /* full width */
.col_9, /* 3/4 width */
.col_8, /* 2/3 width */
.col_6, /* half width */
.col_5, /* half width */
.col_4, /* 1/3 width */
.col_3, /* 1/4 width */
.col_13/* full width */ {
  /*height: 50px;*/
  margin-top: 5px;/*top margin space*/
  margin-bottom: 5px;/*bottom margin space*/
  /*text-align:left;*/
  display: table-cell;
  /*vertical-align:center;*/
}
.col_14{
  height: 75px;

}
.col_13 {
  height: 50px;
}/* full width footer*/
.col_12 {
  height: 424px;
}/* full width header*/
.col_9 {
  height: 325px;
}/* 3/4 width */
.col_8 {
  height: 625px;
}/* 2/3 width */
.col_6 {
  height: 300px;
}/* half width */
.col_4 {
  height: 625px;
}/* 1/3 width */
.col_3 {
  height: 300px;
} /* 1/4 width */


@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf');
}

h1,h2,h3,h4,h5,h6{font-family: Roboto;font-weight:700;}
p{font-family: Roboto;}

/*header*/

.header {
  color: #ffffff;
  margin: 10px 0 0 5px;
  padding: 5px;
}

/*bottom divs*/

.black {
  background-color: #000000;
  color: #FFFFFF;
  margin: 0px;
  padding: 5px;
  width: auto;
  height: 150px;

}
/*.black p{
  font-family: Arial;
  font-size: 10pt;
  letter-spacing: 1.5pt;
}*/

/*a black background and white letters for a div*/

/*header formatting*/

h2, h3, h4, h5, h6 {
  margin: 5px 0 0 5px;
  padding: 5px;
  line-height: 0.9em;
}

img {
  margin: 0 0 0 5px;
  padding: 0;
}

a:link {
  text-decoration: none;
  color: #000000;
}

a:visited {
  color: darkgrey;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
  color: #FFFFFF;
}

.col_13 a:link {
  text-decoration: none;
  color: #ffffff;
}

.col_13 a:visited {
  text-decoration: none;
  color: #ff0000;
}

.col_13 a:hover {
  text-decoration: underline;
  color: #009AE1;
}

.col_13 a:active {
  text-decoration: underline;
  color: #FFFFFF;
}

.imgborder {
  border: 5px solid black;
}

/*a black border around an image*/

.  {
  overflow: auto;
}

/*a  bar for the div*/

.fl {
  float: left;
  margin: 0 5px 5px 0;
}

/*float a item*/

p {
  margin: 0 0 0 3px;
  padding: 0 5px 0 5px;
  text-align: justfy;
}

/*margin and padding for a paragraph*/

nav {
  background-color: #ffffff;
  padding: 5px 5px 5px 0;
  margin: 0;
  width: 935px;
  text-align: right;
}

.ornament {
  width: 80%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Wrapper */

.row {
  width: 960px;
  margin: 0 auto 0 auto;
}

.pos{position:relative;bottom:-3px;}

/* Column margins */
.col_14,
/*full width content*/

.col_13,
/* full width footer*/

.col_12,
/* full width header*/

.col_9,
/* 3/4 width */

.col_8,
/* 2/3 width */

.col_6,
/* half width */

.col_5,
/* 1/3 width */

.col_4,
/* 1/3 width */

.col_3
/* 1/4 width */

  {
  margin-left: 0;
  /*left margin space*/
  margin-right: 0px;
  display: inline;
  float: left;
}

/* First and Last */

.first {
  margin-left: 0;
}

.last {
  margin-right: 0;
}

/* Column widths taking into account the margins */

.col_14 {
  width: 940px;
}

.col_13 {
  width: 940px;
  margin: 0px;
}

.col_12 {
  display: block;
  width: 952px;
  background-image: url(../images/header1a.png)
}

/**/

.col_9 {
  width: 627px;
}

.col_8 {
  width: 625px;
}

.col_6 {
  width: 470px;
}

.col_5 {
  width: 235px;
}

.col_4 {
  width: 315px;
}

.col_3 {
  width: 313px;
}

/*img {width:100%;}*/

/*****************/

/* MEDIA QUERIES */

/*****************/

/* Tablet Screen Sizes */

@media only screen and (min-width: 750px) and (max-width: 959px) {
  /* Resize the body */
  body {
    min-width: 750px;
  }
  .col_12 {
    background-image: url(../images/header1a.png);
    background-repeat: no-repeat;
  }
  /* Resize the row */
  .row {
    width: 750px;
  }
  /* Resize the columns */
  .col_14 {
    width:100%;
  }
  .col_13 {
    width: 748px;
  }
  .col_12 {
    width: 748px;
  }
  nav {
    width: 746px;
  }
  .col_9 {
    width: 495px;
  }
  .col_8 {
    width: 748px;
  }
  .col_6 {
    width: 748px;
    margin: 0;
    padding: 0;
  }
  .col_5 {
    width: 748px;
  }
  .col_4 {
    width: 748px;
    margin: 0;
    padding: 0;
  }
  .col_3 {
    width: 748px;
    margin: 0;
    padding: 0;
  }
}

/* Mobile Landscape Screen Sizes */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* Resize the body */
  body {
    min-width: 479px;
  }
  .col_12 {
    background-image: url(../images/header1_479.png);
    background-repeat: no-repeat;
  }
  /* Resize the row */
  .row {
    width: 479px;
  }
  /* Resize the columns */
  .col_14 {
    width: 100%;
  }
  .col_13 {
    width: 460px;
    margin: 0px;
  }
  .col_12 {
    width: 460px
  }
  nav{
    display: none;
  }
  .col_9 {
    width: 460px
  }
  .col_8 {
    width: 460px
  }
  .col_6 {
    width: 460px
  }
  .col_5 {
    width: 460px
  }
  .col_4 {
    width: 460px
  }
  .col_3 {
    width: 460px
  }
  /* Fix the .last issue */
  .last {
    margin-left: 0px;
    /*left margin space*/
    margin-right: 0px;
  }
}

/* Mobile Portrate Screen Sizes */

@media only screen and (max-width: 479px) {
  /* Resize the body */
  body {
    min-width: 320px;
  }
  .col_12 {
    background-image: url(../images/header1_320.png);
    background-repeat: no-repeat;
  }
  /* Resize the row */
  .row {
    width: 320px;
  }
  /* Resize the columns */
  .col_14 {
    width: 100%;
  }
  .col_13 {
    width: 300px;
  }
  .col_12 {
    width: 300px;
  }
  nav {
    display:none;
  }
  .col_9 {
    width: 300px;
  }
  .col_8 {
    width: 300px;
  }
  .col_6 {
    width: 300px;
  }
  .col_5 {
    width: 300px;
  }
  .col_4 {
    width: 300px;
  }
  .col_3 {
    width: 300px;
  }
  /* Fix the .last issue */
  .last {
    margin-left: 0px;
    /*left margin space*/
    margin-right: 0px;
  }
